<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>i have no idea what i'm doing</title>
    <link rel="stylesheet" type="text/css" href="/player.css">



  </head>
  <body>
    <%= yield %>
  </body>
</html>