.name {
	font-weight:bold;
}
.wonAgainst {
	margin-left: 50px;
	color: #0000FF;
}
.lostAgainst {
	margin-left: 50px;
	color: #FF0000;
}
.elo {
	margin-left: 50px;
}
.eloTitle {
	font-weight:bold;
}
.sets {
	margin-left: 50px;
}
.setTitle{
	font-weight:bold;
}
.event {
	margin-left: 50px;
}
.eventTitle {
	font-weight:bold;
}